
__pycache__

# cocotb
sim_build
results.xml
*.vcd
*.log
*.fst

# riscv-test
*.dump
*.verilog
*.verilog_reversed_4byte
*.signature

# c
*.o
*.map
sdk/software/blink/blink
sdk/software/hello_riscv/hello_riscv
sdk/software/fibonacci/fibonacci
sdk/software/coremark/coremark
sdk/software/interrupt/interrupt


# fpga
output

# xilinx
*.Xil
*.jou
*.str
*.log