
__pycache__

# cocotb
sim_build
results.xml
*.vcd
*.log
*.fst

# riscv-test
*.dump
*.verilog
*.verilog_reversed_4byte
*.signature

# c
*.o
*.map
sdk/software/demo/uart/uart
sdk/software/benchmark/coremark/coremark
sdk/software/demo/blink/blink
sdk/software/demo/fibonacci/fib

# fpga
output